.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
.dot.pending { background-color: #F2A20C }
.dot.success { background-color: #0bda0b }
.dot.cancelled { background-color: #ef0202 }
